<mat-card class="Search">
  <mat-card-header>
    <mat-card-title>Search and put in library</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ol>
      <li>Think a word that you search gif for</li>
      <li>Put it into search field below</li>
      <li>Click the image - it gets to library's category of the search word</li>
    </ol>
    <div class="SearchField">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Type to begin the gif search"
          (keyup)="searchNext(searchInput.value)"
          [formControl]="searchControl"
          #searchInput
        />
        <mat-error *ngIf="searchControl.invalid">You must enter a value</mat-error>
      </mat-form-field>
      <button mat-button (click)="clearTerms()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div id="search">
      <mat-expansion-panel *ngIf="searchResults" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span> What giphy gives... </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="SearchResults" *ngFor="let result of searchResults">
          <div>
            <img [src]="result.images.preview_gif.url" (click)="sendToLibrary(actualTerm, result)" />
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-card-content>
</mat-card>
