<mat-sidenav-container class="AppContainer" [hasBackdrop]="false">
  <mat-sidenav
    *ngIf="loggedIn$ | async"
    class="LibrarySideNav"
    mode="over"
    position="end"
    [(opened)]="libraryOpened"
  >
    <button
      mat-raised-button
      color="primary"
      class="SideNavTrigger"
      (click)="libraryOpened = !libraryOpened"
    >
      <mat-icon>collections</mat-icon>
    </button>
    <div (swiperight)="libraryOpened = false">
      <app-gif-library></app-gif-library>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-raised-button color="primary" [routerLink]="['about']">
      About
    </button>
    <button mat-raised-button color="primary" [routerLink]="['search']">
      GIF Search
    </button>
    <button mat-raised-button color="primary" [routerLink]="['upload']">
      Upload & Convert
    </button>
<!--    <button mat-raised-button color="primary" [routerLink]="['edit']">-->
<!--      Edit Gif-->
<!--    </button>-->
    <span *ngIf="loggedIn$ | async as userInfo; else signIn">
      <span>{{ userInfo.displayName || userInfo.email }}</span>
      <button mat-raised-button (click)="logOut()">Sign Out</button>
    </span>
    <ng-template #signIn>
      <span>
        <a [routerLink]="['signIn']"><button mat-raised-button>Sign In</button></a>
        <a [routerLink]="['register']"><button mat-raised-button color="accent">Register</button></a>
      </span>
    </ng-template>
    <div class="App-flex">
      <div class="Router">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div><img src="assets/giphy_logo.png" /></div>
  </mat-sidenav-content>
</mat-sidenav-container>
