$big-margin: 20px;
$medium-margin: 15px;
$mobileNaviHeight: 56px;

.MobileNavi {
  mat-toolbar {
    display: none;
  }
}

.MainContent {
  height: 90vh;
  overflow-x: hidden;
}

.AppContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;

  .LibrarySideNav {
    display: none;
  }
}
.UserName {
  margin-left: 10px;
  font-weight: bolder;
}

.App-flex {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: 10px $big-margin;
    flex: 1 1 0;
  }
}

.NaviButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4 * $big-margin;
  background-color: black;
}

.GiphyLogo {
  position: fixed;
  bottom: 10px;
  margin: 10px 0;
  right: $big-margin;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  gap: $big-margin;
  width: 100%;
}

.mat-menu-panel {
  margin: 3px 18px;
}

.mat-tab-label,
.mat-tab-link {
  font-size: large;
}

#title {
  img {
    margin: $big-margin auto;
  }

  h1,
  h4 {
    margin: 5px 0;
  }
}

#title,
.LoginForm {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #GoToLogin {
    margin-top: $big-margin;
  }
}

.RegisterLink {
  cursor: pointer;
  margin: 0 auto;
}

.ExtraLink {
  margin-bottom: $big-margin;
}

@media screen and (max-width: 800px) {
  .Router {
    width: 100%;
  }

  .App-flex > * {
    margin: 0 0;
  }

  .MobileNavi {
    mat-toolbar {
      display: flex;
    }
  }

  .AppContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92%;

    .mat-drawer-shown {
      margin-top: $mobileNaviHeight;
    }

    .LibrarySideNav {
      display: block;
      width: 85vw;

      .SideNavTrigger {
        position: absolute;
        left: -60px;
        height: 40px;
        width: 40px;
        top: $big-margin;
        z-index: 9999;
      }
    }

    .MobileNaviSideNav {
      margin-top: $mobileNaviHeight;
      display: block;
      width: 60vw;

      mat-nav-list {
        button {
          height: 60px;
          width: 100%;
          background: none;
          text-align: left;
        }

        #LogOut button {
          position: absolute;
          bottom: 0;
          left: 0;
        }

        mat-label {
          margin-left: $medium-margin;
        }
      }

      .MobileNavUser {
        height: 60px;
        background-color: #c2185b;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        gap: $medium-margin + 1;
        font-size: smaller;
        padding-left: $medium-margin + 1;
      }
    }
  }

  .GifLibrary {
    display: none;
  }

  .GiphyLogo {
    justify-content: center;
    transform: scale(0.5);
    width: 100%;
    margin: 10px auto;
    bottom: -10px;
  }

  .NaviButtons {
    display: none;
  }
}
