@import "./styles/mixins/rwd.scss";
@import "./styles/variables/margins.scss";

$mobileNaviHeight: 56px;
$giphyLogoContainerH: 40px;

.MobileNavi {
  mat-toolbar {
    display: none;
  }
}

.MainContent {
  height: 90vh;
  overflow-x: hidden;
}

.AppContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;

  .LibrarySideNav {
    display: none;
  }
}
.UserName {
  margin-left: 10px;
  font-weight: bolder;
}

.App-flex {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: 10px $xl-margin;
    flex: 1 1 0;
  }
}

.NaviButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4 * $xl-margin;
  background-color: black;
}

#GiphyLogoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: $giphyLogoContainerH;
  position: fixed;
  bottom: 0px;
  background-color: #303030;
  width: 100%;
}

.GiphyLogo {
  position: absolute;
  background-color: #303030;
  right: $xl-margin;
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  gap: $xl-margin;
  width: 100%;
}

.mat-menu-panel {
  margin: 3px 18px;
}

.mat-tab-label,
.mat-tab-link {
  font-size: large;
}

@include rwd_mobile_one_breakpoint {
  .LoginForm {
    button:not(.ExtraLink) {
      margin: $s-margin 0;
    }
  }

  .Router {
    width: 100%;
  }

  .App-flex > * {
    margin: 0 0;
  }

  .MobileNavi {
    mat-toolbar {
      display: flex;
    }
  }

  .AppContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92%;

    .mat-drawer-shown {
      height: 77.5vh;
      margin-top: $mobileNaviHeight;
    }

    .MobileNaviSideNav {
      height: 77.5vh;
    }

    .LibrarySideNav {
      height: 85.9vh;
    }

    .LibrarySideNav {
      display: block;
      width: 85vw;

      .SideNavTrigger {
        position: absolute;
        left: -60px;
        height: 40px;
        width: 40px;
        top: $xl-margin;
        z-index: 9999;
      }
    }

    .MobileNaviSideNav {
      margin-top: $mobileNaviHeight;
      display: block;
      width: 60vw;

      mat-nav-list {
        button {
          height: 45px;
          width: 100%;
          text-align: left;
          background: none;
        }

        @media screen and (orientation: portrait) {
          button {
            height: 60px;
          }

          #LogOut button {
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }

        mat-label {
          margin-left: $l-margin;
        }
      }

      .MobileNavUser {
        height: 60px;
        background-color: #c2185b;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        gap: $l-margin + 1;
        font-size: smaller;
        padding-left: $l-margin + 1;
      }
    }
  }

  .GifLibrary {
    display: none;
  }

  #GiphyLogoContainer {
    justify-content: center;
  }

  .GiphyLogo {
    justify-content: center;
    margin: 10px auto;
    transform: scale(0.5);
  }

  .NaviButtons {
    display: none;
  }
}
