<div class="Register">
  <div id="title">
    <img src="gifster_new.png" alt="GifSter Logo" />
    <h1>GifSter</h1>
    <h4>Your place to keep cool gifs in one place!</h4>
  </div>
  <div class="LoginForm">
    <button mat-stroked-button id="GoToLogin" routerLink="/signIn">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <mat-label>Go to login page</mat-label>
    </button>
    <form [formGroup]="registerForm">
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <button mat-stroked-button [disabled]="!formValid" (click)="registerUser()">Register</button>
    </form>
  </div>
</div>
