@import '../../styles/variables/margins.scss';
@import '../../styles/mixins/rwd.scss';

#Login {
  overflow-x: hidden;
}

#title,
.LoginForm {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #GoToLogin {
    margin-top: $xl-margin;
  }
}

.RegisterLink {
  cursor: pointer;
  margin: 0 auto;
}

.ExtraLink {
  margin-bottom: $s-margin;
}

#title {
  img {
    margin: 2 * $xl-margin auto;
  }

  h1,
  h4 {
    margin: $s-margin 0;
  }
}

.LoginForm {
  form {
    margin-top: $xl-margin;
    width: 40%;
  }

  button {
    margin: $m-margin 0;
  }
}

.ForgetRegisterSection {
  display: flex;
  gap: $s-margin;
  margin: $s-margin auto;
}

@include rwd_mobile_one_breakpoint {
  .ForgetRegisterSection {
    transform: scale(0.78);
    margin: initial;
  }

  #title {
    height: 34vh;

    h1 {
      font-size: x-large;
    }

    h4 {
      font-size: small;
    }

    img {
      margin: 1.2 * $xl-margin auto $m-margin auto;
    }
  }

  .LoginForm {
    height: 63vh;

    form {
      width: 100%;
    }

    button {
      margin: $s-margin 0;
    }
  }
}
