<mat-nav-list>
  <div mat-list-item class="MobileNavUser" *ngIf="loggedIn$ | async as user">
    <img mat-list-item src="gifster_new.png" width="20px" height="auto" />
    <span>{{ user.displayName || user.email }}</span>
  </div>
  <span mat-list-item>
    <button mat-button routerLink="search">
      <mat-icon>search</mat-icon>
      <mat-label>Search</mat-label>
    </button></span
  >
  <span mat-list-item>
    <button mat-button routerLink="upload">
      <mat-icon>queue_play_next</mat-icon>
      <mat-label>Upload & Convert</mat-label>
    </button></span
  >
  <span mat-list-item>
    <button mat-button routerLink="about">
      <mat-icon>info</mat-icon>
      <mat-label>About</mat-label>
    </button></span
  >
  <span id="LogOut" mat-list-item>
    <button mat-button (click)="logOut()">
      <mat-icon>power_settings_new</mat-icon>
      <mat-label>Log out</mat-label>
    </button>
  </span>
</mat-nav-list>
