.AboutContainer{
  text-align: center;

  mat-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    .Stack {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      button{
        margin: 10px 10px;
        width: 400px;
        height: 300px;
      }
    }

    .AuthorInfo {
      .About {
        img {
          border-radius: 50%;
        }
      }

      .InfoButton {
        .AuthorGrid {
          display: grid;
          grid-template-columns: [author]25% [hello]70%;
          grid-column-gap: 5%;
          justify-self: center;
          align-items: center;
          justify-items: center;
          width: 80%;
          margin: auto;

          .Hello {
            display: flex;
            flex-direction: column;

            .HelloButtons {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;

              button {
                margin: 0 10px;
                height: 80px;
              }
            }
          }
        }

        margin: 10px 10px;
        width: 100%;
      }
    }
  }
}
