.LibraryNavi {
  display: grid;
  justify-content: stretch;

  button {
    margin: 10px 5px;
  }

  label {
    margin: 0 15px;
  }
}

.PanelHeader {
  mat-icon {
    margin: 0 20px;
  }

  .mat-content {
    align-items: center;
  }
}
